<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?controller=club&method=detailsFromDBPing&id=L184">TT Theux</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?controller=club&method=detailsFromDBPing&id=L184">Equipes à compléter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="selections.php">Sélections</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="getTop6Rankings2.php">TOP 6</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" placeholder="Search" type="text">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>