{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">Indice</th>
            <th scope="col">Nom</th>
        </tr>
        {# @var club \TTTheux\Models\Club #}
        <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
            <td>
                <div class="btn-group" role="group">
                    <form action="{{ path("club", "update", {id: player.id}) }}" method="post">
                        <input type="image" src="img/icons8-edit-50.png" style="width:15px;height:15px;margin-right:10px;" alt="update">
                    </form>
                    <form action="{{ path("club", "delete", {id: player.id}) }}" method="post">
                        <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                    </form>
                </div>
            </td>
            {#<td>{{ club.id }}</td>#}
            <td>{{ club.UniqueIndex }}</td>
            {#<td>{{ club.club }}</td>#}
            <td>{{ club.LongName }}</td>
        </tr>
    </table>
{%  endblock %}