{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <div id="loggedbuttons" class="d-flex align-items-center">
        <div class="btn-group-horizontal">
            <a href="{{ path("club", "add", {}) }}"><button type="button" class="btn btn-secondary">Ajouter un club</button></a>
        </div>
    </div>
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">Indice</th>
            <th scope="col">Nom</th>
        </tr>
        {# @var club \TTTheux\Models\Club #}
        {% for club in clubs %}
            <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
                <td>
                    <div class="btn-group" role="group">
                        <form action="{{ path("club", "update", {id: club.id}) }}" method="post">
                            <input type="image" src="img/icons8-edit-50.png" style="width:15px;height:15px;margin-right:10px;" alt="update">
                        </form>
                        <form action="{{ path("club", "delete", {id: club.id}) }}" method="post">
                            <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                        </form>
                    </div>
                </td>
                <td>{{ club.id }}</td>
                <td><a href="{{ path("club", "details", {"id": club.id}) }}">{{ club.club }}</a></td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}