<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {%  block title %}{% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js "></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="web/css/bootstrap.min.css">
    <link rel="stylesheet" href="web/css/test.css">

</head>
<body>
<table id="dtBasicExample" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>DivisionName</th>
            <th>WeekName</th>
            <th>Match</th>
            <th>Score</th>
            <th>IsHomeForfeited</th>
            <th>IsAwayForfeited</th>
            <th>DivisionId</th>
            <th>DivisionCategory</th>
            <th>IsHomeWithdrawn</th>
            <th>IsAwayWithdrawn</th>
            <th>DetailsCreated</th>
            <th>H1</th>
            <th>H2</th>
            <th>H3</th>
            <th>H4</th>
            <th>Hf1</th>
            <th>Hf2</th>
            <th>Hf3</th>
            <th>Hf4</th>
            <th>A1</th>
            <th>A2</th>
            <th>A3</th>
            <th>A4</th>
            <th>Af1</th>
            <th>Af2</th>
            <th>Af3</th>
            <th>Af4</th>
        </tr>
    </thead>
    {% for match in matches %}
        <tr>
            <td>{{ match.DivisionName }}</td>
            <td>{{ match.WeekName }}</td>
            <td>{{ match.HomeTeam }} - {{ match.AwayTeam }}</td>
            <td>{{ match.Score }}</td>
            <td>{{ match.IsHomeForfeited }}</td>
            <td>{{ match.IsAwayForfeited }}</td>
            <td>{{ match.DivisionId }}</td>
            <td>{{ match.DivisionCategory }}</td>
            <td>{{ match.IsHomeWithdrawn }}</td>
            <td>{{ match.IsAwayWithdrawn }}</td>
            <td>{{ match.MatchDetails.DetailsCreated }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[0].VictoryCount }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[1].VictoryCount }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[2].VictoryCount }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[3].VictoryCount }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[0].IsForfeited }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[1].IsForfeited }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[2].IsForfeited }}</td>
            <td>{{ match.MatchDetails.HomePlayers.Players[3].IsForfeited }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[0].VictoryCount }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[1].VictoryCount }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[2].VictoryCount }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[3].VictoryCount }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[0].IsForfeited }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[1].IsForfeited }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[2].IsForfeited }}</td>
            <td>{{ match.MatchDetails.AwayPlayers.Players[3].IsForfeited }}</td>
        </tr>
    {% endfor %}
</table>

<script src="web/js/test.js"></script>
</body>
</html>