<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {{ interclubs.teams[0].club.name }} {{ interclubs.teams[0].letter }} - {{ interclubs.teams[1].club.name }} {{ interclubs.teams[1].letter }}
    </title>
    {#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
    {#<link rel="stylesheet" href="css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />#}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/feuilleMatch.css">
    {#<script src="js/select2.js"></script>#}

</head>
<body id="test">
<div class="sheet">
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15">
    </div>
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15 title bold">
        ASBL AILE FRANCOPHONE DE LA FEDERATION ROYALE BELGE DE TENNIS DE TABLE
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15 mb-15">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark pl-5 pr-10">
            <table>
                <tr class="h-18">
                    <td class="h-18 w-48">Local</td>
                    <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">{{ interclubs.venue.building|upper }}{{ venue.Name|upper }}</td>
                </tr>
                <tr class="h-18">
                    <td class="h-18 w-48">Adresse</td>
                    <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">{{ interclubs.venue.address }}{{ venue.Street|upper }}</td>
                </tr>
                <tr class="h-18">
                    <td class="h-18 w-48">Localité</td>
                    <td class="border-bottom border-dark m-10 pl-10 h-18 ln-17">{{ interclubs.venue.fullCity|upper }}{{ venue.Town|upper }}</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3 d-flex flex-row p-0 pb-5">
            <div class="col-lg-6 pl-10 pr-5">
                <table class="border border-2 border-dark p-0">
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId == 1) ? 'X' : ''}}{{ (interclubs.DivisionCategory == 1) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark">Messieurs</td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId in ["2", "3"]) ? 'X' : ''}}{{ (interclubs.DivisionCategory in ["2", "3"]) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark">Dames/Vétérans</td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId == 4) ? 'X' : ''}}{{ (interclubs.DivisionCategory == 4) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark">Jeunes</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 pl-5 pr-10">
                <table class="border border-2 border-dark p-0">
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId == 5) ? 'X' : ''}}{{ (interclubs.DivisionCategory == 5) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark">Superdivision</td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId == 6) ? 'X' : ''}}{{ (interclubs.DivisionCategory == 6) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark ">Coupe messieurs</td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center">{{ (interclubs.league.categoryId == 7) ? 'X' : ''}}{{ (interclubs.DivisionCategory == 7) ? 'X' : ''}}</td>
                        <td class="w-95 p-5 border border-dark">Coupe dames</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-row border border-2 border-dark p-0 pb-5">
            <div class="col-lg-6 d-flex flex-column p-0 pl-5">
                <table>
                    <tr class="d-flex flex-row">
                        <td class="w-28 p-0 h-18">Date</td>
                        <td class="w-142 text-align-center border-bottom border-dark p-0 h-18">{#{{ interclubs.date|date("d/m/Y") }}#}{{ interclubs.Date|date("d/m/Y") }}</td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-42 p-0 h-18">Division</td>
                        <td class="w-128 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.league.division }}{{ interclubs.DivisionName|slice(9, 1) }}</td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-128 p-0 h-18">Heure de début de match</td>
                        <td class="w-42 text-align-center border-bottom border-dark p-0 h-18">{#{{ interclubs.startTime|date("H:i") }}#}{{ interclubs.Time|date("H:i") }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 d-flex flex-column p-5">
                <table>
                    <tr class="d-flex flex-row">
                        <td class="w-69 p-0 h-18">N° de match</td>
                        <td class="w-96 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.interclubsNb }}{{ interclubs.MatchId }}</td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-28 p-0 h-18">Série</td>
                        <td class="w-137 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.league.serie }}{{ interclubs.DivisionName|slice(10,1) }}</td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-123 p-0 h-18">Heure de fin de match</td>
                        <td class="w-42 text-align-center border-bottom border-dark p-0 h-18">{{ interclubs.endTime|date("H:i") }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15">
        <div class="col-lg-5 d-flex flex-column p-0">
            {% for i in 0..1 %}
                <table class="mb-15">
                    <tr class="border border-2 border-dark">
                        <td class="text-align-center bold" colspan="5">Cercle sportif {{ cycle(['visité', 'visiteur'], i) }}</td>
                    </tr>
                    <tr class="border border-2 border-dark h-33">
                        <td class="text-align-center p-0 bold border border-2 border-dark w-37 h-33">Equipe</td>
                        <td class="pl-10 border border-2 border-dark input w-292 h-33">{{ interclubs.teams[i].club.name|upper }} {{ interclubs.teams[i].letter }}{{ cycle([interclubs.HomeTeam|upper, interclubs.AwayTeam|upper], i) }}</td>
                        <td class="border border-2 border-dark h-33" colspan="3">
                            <span class="p-3 h-33 bold">Indice :</span>
                            <span class="text-align-center pl-20 h-33 input" colspan="2">{{ interclubs.teams[i].club.id }}{{ cycle([interclubs.HomeClub|upper, interclubs.AwayClub|upper], i) }}</span>
                        </td>
                    </tr>
                    <tr class="border border-2 border-dark">
                        <td class="p-0 border border-2 border-dark w-37"></td>
                        <td class="p-0 border border-2 border-dark w-292"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">N° LF</td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">Class.</td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">Vict.</td>
                    </tr>
                    {% for j in 1+4*i..4+4*i %}
                        {#{% set slash = (interclubs.players[j] is not empty) ? '/' : '' %}#}
                        {% set slash = (players[j] is not empty) ? '/' : '' %}
                        <tr class="border border-2 border-dark h-33">
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">
                                {{ cycle([cycle(['1-A', '2-B', '3-C', '4'], j-1), cycle(['1-X', '2-Y', '3-Z', '4'], j-1)], i) }}
                            </td>
                            <td class="pl-10 border border-2 border-dark w-292 h-33 input">
                                {{ interclubs.players[j].lastName|upper }} {{ interclubs.players[j].firstName }}{{ players[j].LastName|upper }} {{ players[j].FirstName }}
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 fs-14">
                                {#{{ [interclubs.players[j].playerseasons[interclubs.season].orderNb, slash, interclubs.players[j].playerseasons[interclubs.season].indexNb]|join('') }}#}
                                {{ [players[j].ClubPosition, slash, players[j].ClubIndex]|join('') }}
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
                                {{ interclubs.players[j].playerseasons[interclubs.season].ranking.ranking }}{{ players[j].Ranking }}
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
                                {{ interclubs.playersvictories[j] }}{{ players[j].VictoryCount }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="border border-2 border-dark h-33">
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">Double</td>
                        <td class="pl-10 border border-2 border-dark w-292 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input"></td>
                    </tr>
                    <tr></tr>
                </table>
            {% endfor %}
        </div>
        <div class="col-lg-2 d-flex flex-row p-0">
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                        <tr><td class="text-align-center h-18 bold border border-2 border-dark">Super</td></tr>
                        <tr><td class="text-align-center h-18 bold">A-Y</td></tr>
                        <tr><td class="text-align-center h-18 bold">B-X</td></tr>
                        <tr><td class="text-align-center h-18 bold">C-Z</td></tr>
                        <tr><td class="text-align-center h-18 bold">Double</td></tr>
                        <tr><td class="text-align-center h-18 bold">A-X</td></tr>
                        <tr><td class="text-align-center h-18 bold">C-Y</td></tr>
                        <tr><td class="text-align-center h-18 bold">B-Z</td></tr>
                </table>
            </div>
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Dames</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">Double</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-1</td></tr>
                    <tr><td class="text-align-center h-18 bold border border-bottom-0 border-2 border-dark">Vét.</td></tr>
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Jeunes</td></tr>
                </table>
            </div>
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Mess.</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-1</td></tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column p-0">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-lg-9 d-flex flex-row p-0">
                    <div class="col-lg-1 d-flex flex-row p-0"></div>
                    <div class="col-lg-11 d-flex flex-row p-0">
                        <div class="col-lg-1 d-flex flex-row p-0">
                            <table>
                                <tr><td class="border-2 border-dark text-align-center w-41 h-22"></td></tr>
                                {% set matchCount = 1 %}
                                {% for match in interclubs.matches %}
                                    <tr><td class="text-align-right pr-5 h-18">{{ match.position }}</td></tr>
                                    {% set matchCount = matchCount + 1 %}
                                {% endfor %}
                                {% for match in matchCount..16 %}
                                    <tr><td class="text-align-right pr-5">{{ match }}</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-lg-11 d-flex flex-row p-0">
                            <table class="border border-2 border-dark">
                                <tr><td class="border border-2 border-dark text-align-center bold" colspan="7">Points</td></tr>
                                {% set matchCount = 1 %}
                                {% for match in interclubs.matches %}
                                    <tr>
                                        {% set setCount = 1 %}
                                        {# @var set \TTTheux\Models\Set #}
                                        {% for set in match.sets %}
                                            <td class="border border-dark text-align-center w-41 lh-17">{{ set.homeScore }}-{{ set.AwayScore }}</td>
                                            {% set setCount = setCount + 1 %}
                                        {% endfor %}
                                        {% for set in setCount..7 %}
                                            <td class="border border-dark text-align-center w-41 h-18"></td>
                                        {% endfor %}
                                    </tr>
                                    {% set matchCount = matchCount + 1 %}
                                {% endfor %}
                                {% for match in matchCount..16 %}
                                    <tr>
                                        {% for set in 1..7 %}
                                            <td class="border border-dark text-align-center w-41 h-18"></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <table class="border border-2 border-dark">
                            <tr><td class="border border-2 border-dark text-align-center bold">Sets</td></tr>
                            {% set homeSets = 0 %}
                            {% set awaySets = 0 %}
                            {% set matchCount = 1 %}
                            {# @var match \TTTheux\Models\Match #}
                            {% for match in interclubs.MatchDetails.IndividualMatchResults %}
                                <tr><td class="border border-dark text-align-center lh-17">{#{{ match.homeTotal }} - {{ match.awayTotal }}#}
                                        {{ match.HomeSetCount }} - {{ match.AwaySetCount }}</td></tr>
                                {#{% set homeSets = homeSets + match.homeTotal %}#}
                                {#{% set awaySets = awaySets + match.awayTotal %}#}
                                {% set homeSets = homeSets + match.HomeSetCount %}
                                {% set awaySets = awaySets + match.AwaySetCount %}
                                {% set matchCount = matchCount + 1 %}
                            {% endfor %}
                            {% if matchCount < 16 %}
                                {% for match in matchCount..16 %}
                                    <tr><td class="border border-dark h-18"></td></tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <table class="border border-2 border-dark">
                            <tr><td class="border border-2 border-dark text-align-center bold">Score</td></tr>
                            {% set homeScore = 0 %}
                            {% set awayScore = 0 %}
                            {% set matchCount = 1 %}
                            {# @var match \TTTheux\Models\Match #}
                            {% for match in interclubs.MatchDetails.IndividualMatchResults %}
                                {% set homeScore = homeScore + ((match.HomeSetCount > match.AwaySetCount) ? 1 : 0) %}
                                {% set awayScore = awayScore + ((match.AwaySetCount > match.HomeSetCount) ? 1 : 0) %}
                                <tr><td class="border border-dark text-align-center lh-17">{{ homeScore }} - {{ awayScore }}</td></tr>
                                {% set matchCount = matchCount + 1 %}
                            {% endfor %}
                            {% if matchCount < 16 %}
                                {% for match in matchCount..16 %}
                                    <tr><td class="border border-dark h-18"></td></tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center pt-5">
                <div class="col-lg-5 d-flex flex-row p-0"></div>
                <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border border-3 border-dark bold fs-14 p-0">RESULTAT FINAL</div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeSets }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awaySets }}</div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeScore }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awayScore }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-0">
            <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark bold h-18 p-0">REMARQUES EVENTUELLES :</div>
        </div>
        <div class="col-lg-7 d-flex flex-row p-0 pl-10">
            <div class="col-lg-12 d-flex flex-row p-0">
                <table>
                    <tr>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11">Capitaine visité - Nom, Prénom, Signature</td>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11">Capitaine visiteur - Nom, Prénom, Signature</td>
                    </tr>
                    <tr>
                        <td class="border border-2 border-dark w-292 h-33 pl-10 input">{{ interclubs.homeCaptain.lastName|upper }} {{ interclubs.homeCaptain.firstName }}</td>
                        <td class="border border-2 border-dark w-292 h-33 pl-10 input">{{ interclubs.awayCaptain.lastName|upper }} {{ interclubs.awayCaptain.firstName }}</td>
                    </tr>
                    <tr>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11">Juge-arbitre - Nom, Prénom, Signature</td>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11">Commissaire de salle - Nom, Prénom, Signature</td>
                    </tr>
                    <tr>
                        <td class="border border-2 border-dark w-292 h-33 pl-10 input">{{ interclubs.referee.lastName|upper }} {{ interclubs.referee.firstName }}</td>
                        <td class="border border-2 border-dark w-292 h-33 pl-10 input"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
