{%  extends "baseLayout.html.twig" %}

{% block contents %}
<div class="sheet">
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15">
    </div>
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15 title bold">
        ASBL AILE FRANCOPHONE DE LA FEDERATION ROYALE BELGE DE TENNIS DE TABLE
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15 mb-15">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-15 pb-5">
            <div class="col-lg-2 d-flex flex-column p-0 ml-m10">
                <div>Local</div>
                <div>Adresse</div>
                <div>Localité</div>
            </div>
            <div class="col-lg-11 d-flex flex-column p-0 ml-m20">
                <div class="border-bottom border-dark pl-10">{{ interclubs.venue.building|upper }}</div>
                <div class="border-bottom border-dark pl-10">{{ interclubs.venue.address }}</div>
                <div class="border-bottom border-dark pl-10">{{ interclubs.venue.fullCity|upper }}</div>
            </div>
        </div>
        <div class="col-lg-3 d-flex flex-row p-0 pb-5">
            <div class="col-lg-6 d-flex flex-row p-10">
                <div class="col-lg-12 d-flex flex-column border border-2 border-dark p-0">
                    <div class="d-flex flex-row border-bottom border-dark">
                        {% if interclubs.league.categoryId == 1 %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Messieurs</div>
                    </div>
                    <div class="d-flex flex-row border-bottom border-dark">
                        {% if interclubs.league.categoryId in ["2", "3"] %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Dames/Vétérans</div>
                    </div>
                    <div class="d-flex flex-row">
                        {% if interclubs.league.categoryId == 4 %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Jeunes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-row pr-10">
                <div class="col-lg-12 d-flex flex-column border border-2 border-dark p-0">
                    <div class="d-flex flex-row border-bottom border-dark">
                        {% if interclubs.league.categoryId == 5 %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Superdivision</div>
                    </div>
                    <div class="d-flex flex-row border-bottom border-dark">
                        {% if interclubs.league.categoryId == 6 %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Coupe messieurs</div>
                    </div>
                    <div class="d-flex flex-row">
                        {% if interclubs.league.categoryId == 7 %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center">X</div>
                        {% else %}
                            <div class="col-lg-2 d-flex flex-row p-0 justify-content-center"></div>
                        {% endif %}
                        <div class="col-lg-10 d-flex flex-row p-5 border-left border-dark">Coupe dames</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-row border border-2 border-dark p-0 pb-5">
            <div class="col-lg-6 d-flex flex-column pl-5">
                <div class="d-flex flex-row">
                    <div class="col-lg-2 d-flex flex-row p-0">Date</div>
                    <div class="col-lg-10 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.date|date("d/m/Y") }}</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="col-lg-3 d-flex flex-row p-0">Division</div>
                    <div class="col-lg-9 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.league.division }}</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="col-lg-9 d-flex flex-row p-0">Heure de début de match</div>
                    <div class="col-lg-3 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.startTime|date("H:i") }}</div>
                </div>
            </div>
            <div class="col-lg-6 d-flex flex-column p-5">
                <div class="d-flex flex-row">
                    <div class="col-lg-5 d-flex flex-row p-0">N° de match</div>
                    <div class="col-lg-7 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.interclubsNb }}</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="col-lg-2 d-flex flex-row p-0">Série</div>
                    <div class="col-lg-10 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.league.serie }}</div>
                </div>
                <div class="d-flex flex-row">
                    <div class="col-lg-9 d-flex flex-row p-0">Heure de fin de match</div>
                    <div class="col-lg-3 d-flex flex-row justify-content-center border-bottom border-dark p-0">{{ interclubs.endTime|date("H:i") }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15">
        <div class="col-lg-5 d-flex flex-column p-0">
            {% for i in 0..1 %}
                <div class="d-flex flex-column border border-2 border-dark mb-15">
                    <div class="d-flex flex-row justify-content-center border-bottom border-2 border-dark bold">Cercle sportif {{ cycle(['visité', 'visiteur'], i) }}</div>
                    <div class="d-flex flex-row border-bottom border-2 border-dark h-33">
                        <div class="col-lg-1 d-flex flex-row align-items-center justify-content-center p-0 bold border-right border-2 border-dark">Equipe</div>
                        <div class="col-lg-8 d-flex flex-row align-items-center p-10 border-right border-2 border-dark input">{{ interclubs.teams[i].club.name|upper }} {{ interclubs.teams[i].letter }}</div>
                        <div class="col-lg-3 d-flex flex-row align-items-center p-0">
                            <div class="col-lg-5 d-flex flex-row align-items-center p-3 bold">Indice :</div>
                            <div class="col-lg-7 d-flex flex-row justify-content-center align-items-center p-0 input">{{ interclubs.teams[i].club.id }}</div>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom border-2 border-dark">
                        <div class="col-lg-1 d-flex flex-row p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-8 d-flex flex-row p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">N° LF</div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">Class.</div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0">Vict.</div>
                    </div>
                    {% for j in 1+4*i..4+4*i %}
                        {% set slash = (interclubs.players[j] is not empty) ? '/' : '' %}
                        <div class="d-flex flex-row border-bottom border-2 border-dark h-33">
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">
                                {{ cycle([cycle(['1-A', '2-B', '3-C', '4'], j-1), cycle(['1-X', '2-Y', '3-Z', '4'], j-1)], i) }}</div>
                            <div class="col-lg-8 d-flex flex-row align-items-center p-10 border-right border-2 border-dark input">
                                {{ interclubs.players[j].lastName|upper }} {{ interclubs.players[j].firstName }}
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark fs-14">
                                {{ [interclubs.players[j].playerseasons[interclubs.season].orderNb, slash, interclubs.players[j].playerseasons[interclubs.season].indexNb]|join('') }}
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark input">
                                {{ interclubs.players[j].playerseasons[interclubs.season].ranking.ranking }}
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 input">{{ interclubs.playersvictories[j] }}</div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row h-33">
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">Double</div>
                        <div class="col-lg-8 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 input"></div>
                    </div>
                    <tr></tr>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 d-flex flex-row p-0">
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Super</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">A-Y</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">B-X</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">C-Z</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">Double</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">A-X</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">C-Y</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-top-0 border-2 border-dark">B-Z</div>
            </div>
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Dames</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">Double</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-bottom-0 border-2 border-dark">Vét.</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Jeunes</div>
            </div>
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Mess.</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-top-0 border-2 border-dark">1-1</div>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column p-0">
            <div class="d-flex flex-row justify-content-center bold">
                <div class="col-lg-9 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0">
                        <div class="col-lg-3 d-flex flex-row border-right border-2 border-dark p-0"></div>
                        <div class="col-lg-9 d-flex flex-row border-top border-bottom border-2 border-dark p-0"></div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row align-items-center h-18 border border-left-0 border-2 border-dark p-0">Points</div>
                </div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                        <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-2 border-dark p-0">Sets</div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                        <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-2 border-dark p-0">Score</div>
                    </div>
                </div>
            </div>
            {% set homeSets = 0 %}
            {% set awaySets = 0 %}
            {% set homeScore = 0 %}
            {% set awayScore = 0 %}
            {% set matchCount = 1 %}
            {# @var match \TTTheux\Models\Match #}
            {% for match in interclubs.matches %}
                {% set homeScore = homeScore + ((match.homeTotal > match.awayTotal) ? 1 : 0) %}
                {% set awayScore = awayScore + ((match.awayTotal > match.homeTotal) ? 1 : 0) %}
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-lg-9 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row p-0">
                            <div class="col-lg-3 d-flex flex-row justify-content-end align-items-center h-18 border-right border-2 border-dark p-5">{{ match.position }}</div>
                            {% set setCount = 1 %}
                            {# @var set \TTTheux\Models\Set #}
                            {% for set in match.sets %}
                            <div class="col-lg-3 d-flex flex-row justify-content-center align-items-center h-18 border-bottom border-right border-dark p-0">{{ set.homeScore }}-{{ set.AwayScore }}</div>
                            {% set setCount = setCount + 1 %}
                            {% if setCount == 4 %}
                        </div>
                        <div class="col-lg-6 d-flex flex-row p-0">
                            {% endif %}
                            {% endfor %}
                            {% for set in setCount..7 %}
                                {% if set < 7 %}
                                    <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom border-right border-dark p-0"></div>
                                {% else %}
                                    <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom border-right-2 border-dark p-0"></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% set last = (match.position != 16) ? '-1' : '' %}
                    <div class="col-lg-3 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ last }} border-2 border-dark p-0">
                                {{ match.homeTotal }} - {{ match.awayTotal }}
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ last }} border-2 border-dark p-0">
                                {{ homeScore }} - {{ awayScore }}
                            </div>
                        </div>
                    </div>
                    {% set homeSets = homeSets + match.homeTotal %}
                    {% set awaySets = awaySets + match.awayTotal %}
                    {% set matchCount = matchCount + 1 %}
                </div>
            {% endfor %}
            {% for match in matchCount..16 %}
                {% set homeScore = homeScore + ((match.homeTotal > match.awayTotal) ? 1 : 0) %}
                {% set awayScore = awayScore + ((match.awayTotal > match.homeTotal) ? 1 : 0) %}
                <div class="d-flex flex-row justify-content-center">
                    <div class="col-lg-9 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row p-0">
                            <div class="col-lg-3 d-flex flex-row justify-content-end align-items-center h-18 border-right border-2 border-dark p-5">{{ match }}</div>
                            {% for set in 1..7 %}
                                {{ (set == 4) ? '</div><div class="col-lg-6 d-flex flex-row p-0">' : ''}}
                                <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom{{ (match == 16) ? '-2' : '' }} border-right{{ (set == 7) ? '-2' : '' }} border-dark p-0"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center h-18 pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ (match != 16) ? '-1' : '' }} border-2 border-dark p-0"></div>
                        </div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center h-18 pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ (match != 16) ? '-1' : '' }} border-2 border-dark p-0"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex flex-row justify-content-center pt-5">
                <div class="col-lg-5 d-flex flex-row p-0"></div>
                <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border border-3 border-dark bold fs-14 p-0">RESULTAT FINAL</div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeSets }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awaySets }}</div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeScore }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awayScore }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-0">
            <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark bold h-18 p-0">REMARQUES EVENTUELLES :</div>
        </div>
        <div class="col-lg-7 d-flex flex-row p-0 pl-10">
            <div class="col-lg-12 d-flex flex-row border border-2 border-dark p-0">
                <div class="col-lg-6 d-flex flex-column p-0">
                    <div class="d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark fs-11">Capitaine visité - Nom, Prénom, Signature</div>
                    <div class="d-flex flex-row align-items-center border-right border-bottom border-2 border-dark h-33 p-10 input">{{ interclubs.homeCaptain.lastName|upper }} {{ interclubs.homeCaptain.firstName }}</div>
                    <div class="d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark fs-11">Juge-arbitre - Nom, Prénom, Signature</div>
                    <div class="d-flex flex-row align-items-center border-right border-2 border-dark h-33 p-10 input">{{ interclubs.referee.lastName|upper }} {{ interclubs.referee.firstName }}</div>
                </div>
                <div class="col-lg-6 d-flex flex-column p-0">
                    <div class="d-flex flex-row justify-content-center align-items-center border-bottom border-2 border-dark fs-11">Capitaine visiteur - Nom, Prénom, Signature</div>
                    <div class="d-flex flex-row align-items-center border-bottom border-2 border-dark h-33 p-10 input">{{ interclubs.awayCaptain.lastName|upper }} {{ interclubs.awayCaptain.firstName }}</div>
                    <div class="d-flex flex-row justify-content-center align-items-center border-bottom border-2 border-dark fs-11">Commissaire de salle - Nom, Prénom, Signature</div>
                    <div class="d-flex flex-row align-items-center h-33 p-10 input"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{%  endblock %}
