{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <div id="loggedbuttons" class="d-flex align-items-center">
        <div class="btn-group-horizontal">
            <a href="{{ path("interclubs", "add", {}) }}"><button type="button" class="btn btn-secondary">Encoder un interclubs</button></a>
        </div>
    </div>
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">Numéro de match</th>
            <th scope="col">Match</th>
            <th scope="col">Score</th>
        </tr>
        {# @var ic \TTTheux\Models\Interclubs #}
        {% for ic in interclubs %}
            <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
                <td>
                    <div class="btn-group" role="group">
                        <form action="{{ path("interclubs", "update", {id: ic.MatchUniqueId}) }}" method="post">
                            {#<form action="{{ path("interclubs", "update", {id: ic.id}) }}" method="post">#}
                            <input type="image" src="img/icons8-edit-50.png" style="width:15px;height:15px;margin-right:10px;" alt="update">
                        </form>
                        <form action="{{ path("interclubs", "delete", {id: ic.MatchUniqueId}) }}" method="post">
                            {#<form action="{{ path("interclubs", "delete", {id: ic.id}) }}" method="post">#}
                            <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                        </form>
                    </div>
                </td>
                {% if (ic.MatchUniqueId is defined) %}
                    <td><a href="{{ path("interclubs", "detailsFromDBPing", {"id": ic.MatchUniqueId}) }}">{{ ic.MatchId }}</a></td>
                {% else %}
                    <td>{{ ic.MatchId }}</td>
                {% endif %}
                {#<td><a href="{{ path("interclubs", "details", {"id": ic.id}) }}">{{ ic.interclubsNb }}</a></td>#}
                <td>{{ ic.HomeTeam }} - {{ ic.AwayTeam }}</td>
                {#<td>{{ ic.teams[0].club.name }} {{ ic.teams[0].letter }} - {{ ic.teams[1].club.name }} {{ ic.teams[1].letter }}</td>#}
                <td>{{ ic.Score }}</td>
                {#<td>{{ ic.score }}</td>#}
            </tr>
        {% endfor %}
    </table>
{%  endblock %}
{#path("interclubs", "detailsFromDBPing", {"id": ' + ic.MatchUniqueId#}