<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        Encoder une feuille de match
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {#<link rel="stylesheet" href="css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />#}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/feuilleMatch.css">
    {#<script src="js/select2.js"></script>#}
    {# Timepicker #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</head>
<body id="test">
<div class="sheet">
    <div class="col-lg-12 d-flex flex-row p-30 mt-15">
        <div class="col-lg-5 d-flex flex-column p-0">
            {% for i in 0..1 %}
                <div class="d-flex flex-column border border-2 border-dark mb-15">
                    <div class="d-flex flex-row justify-content-center border-bottom border-2 border-dark bold">Cercle sportif {{ cycle(['visité', 'visiteur'], i) }}</div>
                    <div class="d-flex flex-row border-bottom border-2 border-dark h-33">
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 bold border-right border-2 border-dark"><label for="club{{ i }}">Equipe</label></div>
                        <div class="col-lg-8 d-flex flex-row justify-content-center align-items-center pl-10 border-right border-2 border-dark input"><input class="input" type="text" id="club{{ i }}"></div>
                        <div class="col-lg-3 d-flex flex-row justify-content-center align-items-center p-0">
                            <div class="col-lg-5 d-flex flex-row justify-content-center align-items-center p-3 h-100 bold"><label for="clubid{{ i }}">Indice :</label></div>
                            <div class="col-lg-7 d-flex flex-row justify-content-center align-items-center p-0 h-100 input"><input class="input" type="text" id="clubid{{ i }}"></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row border-bottom border-2 border-dark">
                        <div class="col-lg-1 d-flex flex-row p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-8 d-flex flex-row p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">N° LF</div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">Class.</div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0">Vict.</div>
                    </div>
                    {% for j in 1+4*i..4+4*i %}
                        {% set slash = (interclubs.players[j] is not empty) ? '/' : '' %}
                        <div class="d-flex flex-row border-bottom border-2 border-dark h-33">
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">
                                <label for="player{{ j }}">{{ cycle([cycle(['1-A', '2-B', '3-C', '4'], j-1), cycle(['1-X', '2-Y', '3-Z', '4'], j-1)], i) }}</label></div>
                            <div class="col-lg-8 d-flex flex-row align-items-center pl-10 border-right border-2 border-dark input">
                                <input class="input" type="text" id="player{{ j }}">
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark fs-14">
                                <input type="text" id="index{{ j }}">
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark input">
                                <input class="input" type="text" id="ranking{{ j }}">
                            </div>
                            <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 input"></div>
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row h-33">
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark">Double</div>
                        <div class="col-lg-8 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 border-right border-2 border-dark"></div>
                        <div class="col-lg-1 d-flex flex-row justify-content-center align-items-center p-0 input"></div>
                    </div>
                    <tr></tr>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-2 d-flex flex-row p-0">
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Super</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">A-Y</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">B-X</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">C-Z</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">Double</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">A-X</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">C-Y</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-top-0 border-2 border-dark">B-Z</div>
            </div>
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Dames</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">Double</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-bottom-0 border-2 border-dark">Vét.</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Jeunes</div>
            </div>
            <div class="col-lg-4 d-flex flex-column p-5">
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-2 border-dark">Mess.</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-1</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">1-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">4-4</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">3-3</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border-left border-right border-2 border-dark">2-2</div>
                <div class="d-flex flex-row justify-content-center align-items-center h-18 bold border border-top-0 border-2 border-dark">1-1</div>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column p-0">
            <div class="d-flex flex-row justify-content-center bold">
                <div class="col-lg-9 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0">
                        <div class="col-lg-3 d-flex flex-row border-right border-2 border-dark p-0"></div>
                        <div class="col-lg-9 d-flex flex-row border-top border-bottom border-2 border-dark p-0"></div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row align-items-center h-18 border border-left-0 border-2 border-dark p-0">Points</div>
                </div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                        <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-2 border-dark p-0">Sets</div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                        <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-2 border-dark p-0">Score</div>
                    </div>
                </div>
            </div>
            {#matchCount reflètera le nombre de matches selon la catégorie#}
            {% set matchCount = 10 %}
            {#@var match \TTTheux\Models\Match#}
            {% for match in 1..matchCount %}
            {% set homeScore = homeScore + ((match.homeTotal > match.awayTotal) ? 1 : 0) %}
            {% set awayScore = awayScore + ((match.awayTotal > match.homeTotal) ? 1 : 0) %}
            <div class="d-flex flex-row justify-content-center">
                <div class="col-lg-9 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0">
                        <div class="col-lg-3 d-flex flex-row justify-content-end align-items-center h-18 border-right border-2 border-dark p-5">
                            <label for="match{{ match }}set1">{{ match }}</label></div>
                        {% set setCount = 1 %}
                        {#@var set \TTTheux\Models\Set#}
                        {% for set in match.sets %}
                        <div class="col-lg-3 d-flex flex-row justify-content-center align-items-center h-18 border-bottom border-right border-dark p-0">
                            <input type="text" id="match{{ match }}set{{ set }}"></div>
                        {% set setCount = setCount + 1 %}
                        {% if setCount == 4 %}
                    </div>
                    <div class="col-lg-6 d-flex flex-row p-0">
                        {% endif %}
                        {% endfor %}
                        {% for set in setCount..7 %}
                        {% if set < 7 %}
                        <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom border-right border-dark p-0">
                            {% else %}
                            <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom border-right-2 border-dark p-0">
                                {% endif %}
                                <input type="text" id="match{{ match }}set{{ set }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                    {% set last = (match.position != 16) ? '-1' : '' %}
                    <div class="col-lg-3 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ last }} border-2 border-dark p-0"></div>
                        </div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center pl-5">
                            <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ last }} border-2 border-dark p-0"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for match in matchCount+1..16 %}
                    <div class="d-flex flex-row justify-content-center">
                        <div class="col-lg-9 d-flex flex-row p-0">
                            <div class="col-lg-6 d-flex flex-row p-0">
                                <div class="col-lg-3 d-flex flex-row justify-content-end align-items-center h-18 border-right border-2 border-dark p-5">{{ match }}</div>
                                {% for set in 1..7 %}
                                    {{ (set == 4) ? '</div><div class="col-lg-6 d-flex flex-row p-0">' : ''}}
                                    <div class="col-lg-3 d-flex flex-row align-items-center h-18 border-bottom{{ (match == 16) ? '-2' : '' }} border-right{{ (set == 7) ? '-2' : '' }} border-dark p-0"></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-3 d-flex flex-row p-0">
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center h-18 pl-5">
                                <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ (match != 16) ? '-1' : '' }} border-2 border-dark p-0"></div>
                            </div>
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center h-18 pl-5">
                                <div class="col-lg-12 d-flex flex-row justify-content-center align-items-center h-18 border border-top-0 border-bottom{{ (match != 16) ? '-1' : '' }} border-2 border-dark p-0"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex flex-row justify-content-center pt-5">
                    <div class="col-lg-5 d-flex flex-row p-0"></div>
                    <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border border-3 border-dark bold fs-14 p-0">RESULTAT FINAL</div>
                    <div class="col-lg-3 d-flex flex-row p-0">
                        <div class="col-lg-6 d-flex flex-row pl-5">
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeSets }}</div>
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awaySets }}</div>
                        </div>
                        <div class="col-lg-6 d-flex flex-row pl-5">
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeScore }}</div>
                            <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awayScore }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 d-flex flex-row p-30">
            <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-0">
                <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark bold h-18 p-0">REMARQUES EVENTUELLES :</div>
            </div>
            <div class="col-lg-7 d-flex flex-row p-0 pl-10">
                <div class="col-lg-12 d-flex flex-row border border-2 border-dark p-0">
                    <div class="col-lg-6 d-flex flex-column p-0">
                        <div class="d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark fs-11">Capitaine visité - Nom, Prénom, Signature</div>
                        <div class="d-flex flex-row align-items-center border-right border-bottom border-2 border-dark h-33 pl-10 input">
                            <input type="text" id="home-captain"></div>
                        <div class="d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark fs-11">Juge-arbitre - Nom, Prénom, Signature</div>
                        <div class="d-flex flex-row align-items-center border-right border-2 border-dark h-33 pl-10 input">
                            <input type="text" id="referee"></div>
                    </div>
                    <div class="col-lg-6 d-flex flex-column p-0">
                        <div class="d-flex flex-row justify-content-center align-items-center border-bottom border-2 border-dark fs-11">Capitaine visiteur - Nom, Prénom, Signature</div>
                        <div class="d-flex flex-row align-items-center border-bottom border-2 border-dark h-33 pl-10 input">
                            <input type="text" id="away-captain"></div>
                        <div class="d-flex flex-row justify-content-center align-items-center border-bottom border-2 border-dark fs-11">Commissaire de salle - Nom, Prénom, Signature</div>
                        <div class="d-flex flex-row align-items-center h-33 pl-10 input"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 60,
            minTime: '00:00',
            maxTime: '23:59',
            defaultTime: '00:00',
            startTime: '0:00',
            dynamic: true,
            dropdown: false,
            scrollbar: true
        });


        let inputs = document.getElementsByTagName('input');
        for (let i = 0; i < inputs.length; i++)
        {
            inputs[i].style.width = inputs[i].parentElement.getBoundingClientRect().width + 'px';
            inputs[i].style.height = inputs[i].parentElement.getBoundingClientRect().height + 'px';
        }
    </script>
</body>
</html>
