<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        Encoder une feuille de match
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {#<link rel="stylesheet" href="css/bootstrap.min.css">#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.css" />#}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/jqDialog.css">
    <link rel="stylesheet" href="css/feuilleMatch.css">
    {#<script src="js/select2.js"></script>#}
    {# Timepicker #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

</head>
<body id="test">
<div class="sheet">
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15">
    </div>
    <div class="col-lg-12 d-flex flex-row justify-content-center p-30 mt-15 mb-15 title bold">
        ASBL AILE FRANCOPHONE DE LA FEDERATION ROYALE BELGE DE TENNIS DE TABLE
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15 mb-15">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark pl-5 pr-10">
            <table>
                <tr class="">
                    <td class="h-18 w-48"><label for="venue-local">Local</label></td>
                    <td id="venue-local" class="border-bottom border-dark p-0 h-18 ln-17"></td>
                    <td class="h-18 w-205">
                        <select class="h-18" name="venue" id="venue"></select>
                    </td>
                </tr>
                <tr class="h-18">
                    <td class="h-18 w-48"><label for="venue-address">Adresse</label></td>
                    <td id="venue-address" class="border-bottom border-dark p-0 h-18 ln-17"></td>
                    <td class="h-18 w-48"><button id="new-venue" class="h-20">Nouveau local</button></td>
                </tr>
                <tr class="h-18">
                    <td class="h-18 w-48"><label for="venue-city">Localité</label></td>
                    <td id="venue-city" class="border-bottom border-dark p-0 h-18 ln-17"></td>
                    <td class="h-18 w-48"><button id="new-city" class="h-20">Nouvelle localité</button></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3 d-flex flex-row p-0 pb-5">
            <div class="col-lg-6 pl-10 pr-5">
                <table class="border border-2 border-dark p-0">
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="messieurs" name="category" class="vertical-align-sub" value="1"></td>
                        <td class="w-95 p-5 border border-dark"><label for="messieurs">Messieurs</label></td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="dames" name="category" class="vertical-align-sub" value="2"></td>
                        <td class="w-95 p-5 border border-dark"><label for="dames">Dames/Vétérans</label></td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="jeunes" name="category" class="vertical-align-sub" value="4"></td>
                        <td class="w-95 p-5 border border-dark"><label for="jeunes">Jeunes</label></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 pl-5 pr-10">
                <table class="border border-2 border-dark p-0">
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="super" name="category" class="vertical-align-sub" value="5"></td>
                        <td class="w-95 p-5 border border-dark"><label for="super">Superdivision</label></td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="coupem" name="category" class="vertical-align-sub" value="6"></td>
                        <td class="w-95 p-5 border border-dark "><label for="coupem">Coupe messieurs</label></td>
                    </tr>
                    <tr>
                        <td class="w-20 text-align-center p-0 border border-dark justify-content-center"><input
                                    type="radio" id="couped" name="category" class="vertical-align-sub" value="7"></td>
                        <td class="w-95 p-5 border border-dark"><label for="couped">Coupe dames</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-row border border-2 border-dark p-0 pb-5">
            <div class="col-lg-6 d-flex flex-column p-0 pl-5">
                <table>
                    <tr class="d-flex flex-row">
                        <td class="w-28 p-0"><label for="date">Date</label></td>
                        <td class="w-142 text-align-center p-0 h-19"><input
                                    type="date" id="date"></td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-42 p-0"><label for="division">Division</label></td>
                        <td class="w-128 text-align-center p-0 h-19"><input
                                    type="text" id="division"></td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-128 p-0"><label for="start-hour">Heure de début de match</label></td>
                        <td class="w-42 text-align-center p-0 h-19"><input
                                    type="text" id="start-hour" class="timepicker"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-6 d-flex flex-column p-5">
                <table>
                    <tr class="d-flex flex-row">
                        <td class="w-69 p-0"><label for="interclubsNb">N° de match</label></td>
                        <td class="w-96 text-align-center p-0 h-19"><input
                                    type="text" id="interclubsNb"></td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-28 p-0"><label for="serie">Série</label></td>
                        <td class="w-137 text-align-center p-0 h-19"><input
                                    type="text" id="serie"></td>
                    </tr>
                    <tr class="d-flex flex-row">
                        <td class="w-123 p-0"><label for="end-hour">Heure de fin de match</label></td>
                        <td class="w-42 text-align-center p-0 h-19"><input
                                    type="text" id="end-hour" class="timepicker"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30 mt-15">
        <div class="col-lg-5 d-flex flex-column p-0">
            {% for i in 0..1 %}
                {% set home = ((i == 0) ? 'home' : 'away') %}
                {% set visite = ((i == 0) ? 'visité' : 'visiteur') %}
                <table class="mb-15">
                    <tr class="border border-2 border-dark">
                        <td class="text-align-center bold" colspan="5">Cercle sportif {{ visite }}</td>
                    </tr>
                    <tr class="border border-2 border-dark h-33">
                        <td class="text-align-center p-0 bold border border-2 border-dark w-37 h-33"><label for="{{ home }}club">Equipe</label></td>
                        <td class="pl-10 border border-2 border-dark input w-292 h-33">
                            <select class="input" name="{{ home }}club" id="{{ home }}club" style="font-style: italic; color: grey;">
                                <option value="" hidden>Club {{ visite }}</option>
                                {% for club in clubs|sort %}
                                    <option value="{{ club.id }}" style="font-style: normal; color: black;">{{ club.id }} - {{ club.name }}</option>
                                {% endfor %}
                            </select>
                            {#<input type="text" name=club{{ i }}" id=club{{ i }}">#}
                        </td>
                        <td class="border border-2 border-dark w-111 h-33" colspan="3">
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-row col-lg-5 justify-content-center align-items-center p-0 w-45 h-33 bold"><label for="{{ home }}clubteam">Equipe :</label></div>
                                <div class="d-flex flex-row col-lg-7 justify-content-center align-items-center p-0 w-64 h-33 input"><input class="input" type="text" id="{{ home }}clubteam"></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="border border-2 border-dark">
                        <td class="p-0 border border-2 border-dark w-37"></td>
                        <td class="p-0 border border-2 border-dark w-292"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">N° LF</td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">Class.</td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37">Vict.</td>
                    </tr>
                    {% for j in 1..4 %}
                        {% set slash = (interclubs.players[j] is not empty) ? '/' : '' %}
                        <tr class="border border-2 border-dark h-33">
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">
                                <label for="{{ home }}player{{ j }}">{{ cycle([cycle(['1-A', '2-B', '3-C', '4'], j-1), cycle(['1-X', '2-Y', '3-Z', '4'], j-1)], i) }}</label>
                            </td>
                            <td class="pl-10 border border-2 border-dark w-292 h-33 input">
                                <select class="input" id="{{ home }}player{{ j }}" style="font-style: italic; color: grey;">
                                    <option value="" hidden>Joueur {{ visite }} {{ j }}</option>
                                </select>
                                {#<input class="input" type="text" name="player{{ j }}" id="player{{ j }}">#}
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 fs-14">
                                <input type="text" name="{{ home }}index{{ j }}" id="{{ home }}index{{ j }}">
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
                                <input class="input" type="text" name="{{ home }}ranking{{ j }}" id="{{ home }}ranking{{ j }}">
                            </td>
                            <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="border border-2 border-dark h-33">
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33">Double</td>
                        <td class="pl-10 border border-2 border-dark w-292 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33"></td>
                        <td class="text-align-center p-0 border border-2 border-dark w-37 h-33 input"></td>
                    </tr>
                    <tr></tr>
                </table>
            {% endfor %}
        </div>
        <div class="col-lg-2 d-flex flex-row p-0">
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Super</td></tr>
                    <tr><td class="text-align-center h-18 bold">A-Y</td></tr>
                    <tr><td class="text-align-center h-18 bold">B-X</td></tr>
                    <tr><td class="text-align-center h-18 bold">C-Z</td></tr>
                    <tr><td class="text-align-center h-18 bold">Double</td></tr>
                    <tr><td class="text-align-center h-18 bold">A-X</td></tr>
                    <tr><td class="text-align-center h-18 bold">C-Y</td></tr>
                    <tr><td class="text-align-center h-18 bold">B-Z</td></tr>
                </table>
            </div>
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Dames</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">Double</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-1</td></tr>
                    <tr><td class="text-align-center h-18 bold border border-bottom-0 border-2 border-dark">Vét.</td></tr>
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Jeunes</td></tr>
                </table>
            </div>
            <div class="col-lg-4 d-flex flex-column p-0 pl-10">
                <table class="border border-2 border-dark">
                    <tr><td class="text-align-center h-18 bold border border-2 border-dark">Mess.</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-1</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">4-4</td></tr>
                    <tr><td class="text-align-center h-18 bold">3-3</td></tr>
                    <tr><td class="text-align-center h-18 bold">2-2</td></tr>
                    <tr><td class="text-align-center h-18 bold">1-1</td></tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-column p-0">
            <div class="d-flex flex-row justify-content-center">
                <div class="col-lg-9 d-flex flex-row p-0">
                    <div class="col-lg-1 d-flex flex-row p-0"></div>
                    <div class="col-lg-11 d-flex flex-row p-0">
                        <div class="col-lg-1 d-flex flex-row p-0">
                            <table>
                                <tr><td class="border-2 border-dark text-align-center w-41 h-22"></td></tr>
                                {% for match in 1..16 %}
                                    <tr><td class="text-align-right pr-5"><label for="match{{ match.position }}set1">{{ match }}</label></td></tr>
                                {% endfor %}
                            </table>
                        </div>
                        <div class="col-lg-11 d-flex flex-row p-0">
                            <table class="border border-2 border-dark">
                                <tr><td class="border border-2 border-dark text-align-center bold" colspan="7">Points</td></tr>
                                {% for match in 1..16 %}
                                    <tr>
                                        {% for set in 1..7 %}
                                            <td class="border border-dark text-align-center w-41 lh-16 h-18"><input type="text" id="match{{ match }}set{{ set }}"></td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <table class="border border-2 border-dark">
                            <tr><td class="border border-2 border-dark text-align-center bold">Sets</td></tr>
                            {% set homeSets = 0 %}
                            {% set awaySets = 0 %}
                            {% set matchCount = 1 %}
                            {# @var match \TTTheux\Models\Match #}
                            {% for match in interclubs.matches %}
                                <tr><td class="border border-dark text-align-center lh-17">{{ match.homeTotal }} - {{ match.awayTotal }}</td></tr>
                                {% set homeSets = homeSets + match.homeTotal %}
                                {% set awaySets = awaySets + match.awayTotal %}
                                {% set matchCount = matchCount + 1 %}
                            {% endfor %}
                            {% for match in matchCount..16 %}
                                <tr><td class="border border-dark h-18"></td></tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <table class="border border-2 border-dark">
                            <tr><td class="border border-2 border-dark text-align-center bold">Score</td></tr>
                            {% set homeScore = 0 %}
                            {% set awayScore = 0 %}
                            {% set matchCount = 1 %}
                            {# @var match \TTTheux\Models\Match #}
                            {% for match in interclubs.matches %}
                                <tr><td class="border border-dark text-align-center lh-17">{{ homeScore }} - {{ awayScore }}</td></tr>
                                {% set homeScore = homeScore + ((match.homeTotal > match.awayTotal) ? 1 : 0) %}
                                {% set awayScore = awayScore + ((match.awayTotal > match.homeTotal) ? 1 : 0) %}
                                {% set matchCount = matchCount + 1 %}
                            {% endfor %}
                            {% for match in matchCount..16 %}
                                <tr><td class="border border-dark h-18"></td></tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center pt-5">
                <div class="col-lg-5 d-flex flex-row p-0"></div>
                <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border border-3 border-dark bold fs-14 p-0">RESULTAT FINAL</div>
                <div class="col-lg-3 d-flex flex-row p-0">
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeSets }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awaySets }}</div>
                    </div>
                    <div class="col-lg-6 d-flex flex-row p-0 pl-5">
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-dark fs-14 p-0">{{ homeScore }}</div>
                        <div class="col-lg-6 d-flex flex-row justify-content-center align-items-center border border-3 border-left-0 border-dark fs-14 p-0">{{ awayScore }}</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center pt-5">
                <select name="venue" id="venue">
                    {% for venue in venues %}
                        <option value="">{{ venue.building }} - {{ venue.fullCity }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-12 d-flex flex-row p-30">
        <div class="col-lg-5 d-flex flex-row border border-2 border-dark p-0">
            <div class="col-lg-4 d-flex flex-row justify-content-center align-items-center border-right border-bottom border-2 border-dark bold h-18 p-0">REMARQUES EVENTUELLES :</div>
        </div>
        <div class="col-lg-7 d-flex flex-row p-0 pl-10">
            <div class="col-lg-12 d-flex flex-row p-0">
                <table>
                    <tr>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11"><label for="homeplayer5">Capitaine visité - Nom, Prénom, Signature</label></td>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11"><label for="awayplayer5">Capitaine visiteur - Nom, Prénom, Signature</label></td>
                    </tr>
                    <tr>
                        <td class="border border-2 border-dark w-292 h-33 p-0 pl-10 input">
                            <select class="input" id="homeplayer5" style="font-style: italic; color: grey;">
                                <option value="" hidden>Capitaine visité</option>
                            </select>
                        </td>
                        <td class="border border-2 border-dark w-292 h-33 p-0 pl-10 input">
                            <select class="input" id="awayplayer5" style="font-style: italic; color: grey;">
                                <option value="" hidden>Capitaine visiteur</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11"><label for="referee">Juge-arbitre - Nom, Prénom, Signature</label></td>
                        <td class="text-align-center border border-2 border-dark w-292 fs-11">Commissaire de salle - Nom, Prénom, Signature</td>
                    </tr>
                    <tr>
                        <td class="border border-2 border-dark w-292 h-33 p-0 pl-10 input">
                            <select class="input" id="homeplayer6" style="font-style: italic; color: grey;">
                                <option value="" hidden>Juge-arbitre</option>
                            </select></td>
                        <td class="border border-2 border-dark w-292 h-33 p-0 pl-10 input"><input type="button" value="Valider" id="encode"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="js/jqDialog.min.js"></script>
<script>
    loadVenueSelect();
    function loadVenueSelect()
    {
        let select = $('#venue');
        $.ajax({
            "method": "GET",
            "url": "getVenues.php",
            "dataType": "json",
            "success": function (venues) {
                select.empty();
                select.append($('<option>').html('Choisissez un local').attr({value: '', hidden: 'hidden'}));
                for (let venue of venues)
                {
                    select.append($('<option>').html(venue.building + ' - ' + venue.city.postalCode + ' ' + venue.city.name).attr({value: venue.id}));
                }
            },
            "error": function () {
                console.log("error");
            }
        });
    }
    $('#venue').on('change', function()
    {
        let id = $(this).val();
        $.ajax({
            "method": "GET",
            "url": "getVenue.php",
            "data": {
                id: id,
            },
            "dataType": "json",
            "success": function (venue)
            {
                $('#venue-local').html(venue.building);
                $('#venue-address').html(venue.address);
                $('#venue-city').html(venue.city.postalCode + ' ' + venue.city.name);
            },
            "error": function () {
                console.log("error");
            }
        });
    });
    $('#new-venue').on('click', function()
    {
        $.ajax({
            "method": "GET",
            "url": "getCities.php",
            "dataType": "json",
            "success": function (cities) {
                $.jqDialog.venue("Entrez les données du nouveau local :",
                    cities,
                    function(building, address, cityId) {
                        // Validation des données
                        $.ajax({
                            "method": "POST",
                            "url": "addVenue.php",
                            "dataType": "html",
                            "data": {
                                building: building,
                                address: address,
                                cityId: cityId,
                            },
                            "success": function (data) {
                                alert('Nouveau local correctement ajouté !');
                                loadVenueSelect();
                            },
                            "error": function () {
                                alert("Erreur dans l'ajout du nouveau local.");
                            }
                        });
                    },
                    function() { }
                );
            },
            "error": function () {
                console.log("error");
            }
        });
    });
    $('#new-city').on('click', function()
    {
        $.jqDialog.city("Entrez les données de la nouvelle localité :",
            function(postalCode, name) {
                // Validation des données
                $.ajax({
                    "method": "POST",
                    "url": "addCity.php",
                    "dataType": "html",
                    "data": {
                        postalCode: postalCode,
                        name: name,
                    },
                    "success": function (data) {
                        alert('Nouvelle localité correctement ajoutée !');
                    },
                    "error": function () {
                        alert("Erreur dans l'ajout de la nouvelle localité.");
                    }
                });
            },
            function() { }
        );
    });
    $('.timepicker').timepicker({
        timeFormat: 'HH:mm',
        interval: 60,
        minTime: '00:00',
        maxTime: '23:59',
        defaultTime: '00:00',
        startTime: '0:00',
        dynamic: true,
        dropdown: false,
        scrollbar: true
    });
    function checkSelect(elem)
    {
        if (elem.val() === "")
        {
            elem.css({
                'font-style': 'italic',
                'color': 'grey'
            });
        }
        else
        {
            elem.css({
                'font-style': 'normal',
                'color': 'black'
            });
        }
    }


    // let inputs = $('input');
    let inputs = $('input,select, button');
    let widths = [];
    let heights = [];
    for (let i = 0; i < inputs.length; i++)
    {
        let pl = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('padding-left'));
        let pr = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('padding-right'));
        let pt = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('padding-top'));
        let pb = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('padding-bottom'));
        let bl = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('border-left-width'));
        let br = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('border-right-width'));
        let bt = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('border-top-width'));
        let bb = parseInt(window.getComputedStyle(inputs[i].parentElement, null).getPropertyValue('border-bottom-width'));
        widths[i] = inputs[i].parentElement.getBoundingClientRect().width-(pl+pr+bl+br) + 'px';
        heights[i] = inputs[i].parentElement.getBoundingClientRect().height-(pt+pb+bt+bb) + 'px';
    }
    for (let i = 0; i < inputs.length; i++)
    {
        inputs[i].style.width = widths[i];
        inputs[i].style.height = heights[i];
    }
    // Au chargement de la page, charger les menus déroulants des clubs et des équipes
    $(window).on('load', function()
    {
        for (let home of ['home', 'away'])
        {
            let element = $('#' + home + 'club');
            checkSelect(element);
            let visite = (home === 'home') ? 'visité' : 'visiteur';
            loadPlayers(element, home, visite);
        }
    });
    // Requête DB pour obtenir les joueurs d'une équipe donnée
    function loadPlayers(element, home, visite)
    {
        $.ajax({
            "method": "POST",
            "url": "getPlayersByClub.php",
            "dataType": "json",
            "data": {
                season: 17,
                clubId: element.val(),
            },
            "success": function (data) {
                console.log(data);
                for (let j = 1; j <= 6; j++) {
                    let element = $('#' + home + 'player' + j);
                    let player = (j >= 5) ? ((j === 5) ? 'Capitaine ' + visite : 'Juge-arbitre') : 'Joueur ' + visite + ' ' + j;
                    element.empty();
                    element.append($('<option>').text(player).attr('value', "").attr('selected', "").attr('hidden', "")).css({
                        'font-style': 'italic',
                        'color': 'grey'
                    });
                    $.each(data, function (i, obj) {
                        element.append($('<option>').text(obj.Position + '/' + obj.RankingIndex + ' ' + obj.LastName.toUpperCase() + ' ' + obj.FirstName).attr('value', obj.UniqueIndex).css({
                            'font-style': 'normal',
                            'color': 'black'
                        }));
                    });
                    checkSelect(element);
                }
            },
            "error": function () {
                console.log("error");
            }
        });
    }
    for (let home of ['home', 'away'])
    {
        let visite = (home === 'home') ? 'visité' : 'visiteur';
        $('#' + home + 'club').on('change', function()
        {
            checkSelect($(this));
            loadPlayers($(this), home, visite);
        });
    }
    $("[id*='player']").each( function()
    {
        $(this).on('change', function ()
        {
            checkSelect($(this));
        });
    });
    $('#encode').on('click', function()
    {
        let isValid = true;

        if (isValid)
        {
            let categoryId = $('input:radio[name=category]:checked').val();
            if (categoryId === '2')
            {
                $.jqDialog.category("Dames ou Vétérans ?",
                    function() { addInterclubs(categoryId)},                    // callback function for 'DAMES' button
                    function() { categoryId++; addInterclubs(categoryId)},      // callback function for 'VETERANS' button
                    function() { }                                              // callback function for 'CANCEL' button
                );
            }
            else
                addInterclubs(categoryId);
        }
    });
    function callLeagueId(categoryId, division, serie)
    {
        return $.ajax({
            "method": "POST",
            "url": "addLeague.php",
            "dataType": "html",
            "data": {
                categoryId: categoryId,
                division: division,
                serie: serie,
            },
        });
    }
    function addInterclubs(categoryId)
    {
        let leagueIdCall = callLeagueId(categoryId, $('#division').val(), $('#serie').val());
        leagueIdCall.always(function(leagueId){
            // console.log('Hors fonction : ' + leagueId);
            // console.log('homeCaptain : ' + $('#homeplayer5').val());
            // console.log('awayCaptain : ' + $('#awayplayer5').val());
            // console.log('referee : ' + $('#homeplayer6').val());
            let clubs = {
                home: $('#club0').val(),
                away: $('#club1').val(),
            };
            $.ajax({
                "method": "POST",
                "url": "addInterclubs.php",
                "dataType": "html",
                "data": {
                    season: 17,
                    venueId: $('#venue').val(),
                    date: $('#date').val(),
                    leagueId: leagueId,
                    interclubsNb: $('#interclubsNb').val(),
                    startHour: $('#start-hour').val(),
                    endHour: $('#end-hour').val(),
                    // homeClub: clubs,
                    // homeTeam: $('#clubteam0').val(),
                    // awayTeam: $('#clubteam1').val(),
                    // homePlayer1: $('#player1').val(),
                    // homePlayer2: $('#player2').val(),
                    // homePlayer3: $('#player3').val(),
                    // homePlayer4: $('#player4').val(),
                    // awayPlayer1: $('#player5').val(),
                    // awayPlayer2: $('#player6').val(),
                    // awayPlayer3: $('#player7').val(),
                    // awayPlayer4: $('#player8').val(),
                    // homeIndex1: $('#index1').val(),
                    // homeIndex2: $('#index2').val(),
                    // homeIndex3: $('#index3').val(),
                    // homeIndex4: $('#index4').val(),
                    // awayIndex1: $('#index5').val(),
                    // awayIndex2: $('#index6').val(),
                    // awayIndex3: $('#index7').val(),
                    // awayIndex4: $('#index8').val(),
                    // homeRanking1: $('#ranking1').val(),
                    // homeRanking2: $('#ranking2').val(),
                    // homeRanking3: $('#ranking3').val(),
                    // homeRanking4: $('#ranking4').val(),
                    // awayRanking1: $('#ranking5').val(),
                    // awayRanking2: $('#ranking6').val(),
                    // awayRanking3: $('#ranking7').val(),
                    // awayRanking4: $('#ranking8').val(),
                    // match1set1: $('#match1set1').val(),
                    homeCaptain: $('#homeplayer5').val(),
                    awayCaptain: $('#awayplayer5').val(),
                    referee: $('#homeplayer6').val(),
                },

                "success": function (data) {
                    console.log('Succès de la fonction addInterclubs : ' + data);
                },
            });
        });
    }
</script>
</body>
</html>
