{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <form id="modal-add" class="modal-content" action="#" method="post">
        <!-- Titre et croix -->
        <div class="modal-header justify-content-center">
            <h5 class="modal-title">{{ titre }}</h5>
        </div>
        {# @var club \TTTheux\Models\Club #}
        <!-- Image, inputs et boutons -->
        <div class="modal-body">
            <div class="form-group">
                <label for="id"><b>Indice du club</b></label>
                <input type="text" placeholder="Indice du club" name="id" value="{{ club.id }}" required {{ disabled }}>
                <p class="text-danger">{{ errors["clubId"] }}</p>
            </div>

            <div class="form-group">
                <label for="name"><b>Nom</b></label>
                <input type="text" placeholder="Nom du club" name="name" value="{{ club.club }}" required>
                <p class="text-danger">{{ errors["clubName"] }}</p>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger btn-sm" type="button" onclick="document.getElementById('modal-update').style.display='none'">Annuler</button>
        </div>
    </form>
{%  endblock %}