{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <form id="modal-add" class="modal-content" action="#" method="post">
        <!-- Titre et croix -->
        <div class="modal-header justify-content-center">
            <h5 class="modal-title">{{ titre }}</h5>
        </div>
        {# @var matchset \TTTheux\Models\Set #}
        <!-- Image, inputs et boutons -->
        <div class="modal-body">
            <p class="text-danger">{{ errors["homeaway"] }}</p>
            <div class="form-group">
                <label for="home"><b>Score visité</b></label>
                <input type="number" placeholder="Score visité" name="home" value="{{ matchset.homeScore }}" required>
                <p class="text-danger">{{ errors["home"] }}</p>
            </div>

            <div class="form-group">
                <label for="away"><b>Score visiteur</b></label>
                <input type="number" placeholder="Score visiteur" name="away" value="{{ matchset.awayScore }}" required>
                <p class="text-danger">{{ errors["away"] }}</p>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger btn-sm" type="button" onclick="document.getElementById('modal-update').style.display='none'">Annuler</button>
        </div>
    </form>
{%  endblock %}