{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <form id="modal-add" class="modal-content" action="#" method="post">
        <!-- Titre et croix -->
        <div class="modal-header justify-content-center">
            <h5 class="modal-title">{{ titre }}</h5>
        </div>
        {# @var player \TTTheux\Models\Player #}
        <!-- Image, inputs et boutons -->
        <div class="modal-body">
            <div class="form-group">
                <label for="id"><b>Numéro de licence *</b></label>
                <input type="text" placeholder="Numéro de licence" name="id" value="{{ player.id }}" required {{ disabled }}>
                <p class="text-danger">{{ errors["playerId"] }}</p>
            </div>

            <div class="form-group">
                <label for="lastname"><b>Nom</b></label>
                <input type="text" placeholder="Nom" name="lastname" value="{{ player.lastname }}" required>
                <p class="text-danger">{{ errors["playerLastName"] }}</p>
            </div>

            <div class="form-group">
                <label for="firstname"><b>Prénom</b></label>
                <input type="text" placeholder="Prénom" name="firstname" value="{{ player.firstname }}" required>
                <p class="text-danger">{{ errors["playerFirstName"] }}</p>
            </div>

            <div class="form-group">
                <label for="club"><b>Club</b></label>
                <select name="club">
                    <optgroup label="L - Province de Liège">
                        {# @var club \TTTheux\Models\Club #}
                        {% for club in clubs %}
                            <option value="{{ club.id }}"{% if player.clubId == club.id %} selected{% endif %}>{{ club.id }} - {{ club.club }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
                {#<input type="text" placeholder="Club" name="club" value="{{ player.clubId }}">#}
                <p class="text-danger">{{ errors["playerClub"] }}</p>
            </div>

            <div class="form-group">
                <label for="ranking"><b>Classement</b></label>
                <select name="ranking">
                    {# @var ranking \TTTheux\Models\Ranking #}
                    {% for ranking in rankings %}
                        <option value="{{ ranking.id }}"{% if player.rankingId == ranking.id %} selected{% endif %}>{{ ranking.ranking }}</option>
                    {% endfor %}
                </select>
                <p class="text-danger">{{ errors["playerRanking"] }}</p>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger btn-sm" type="button" onclick="document.getElementById('modal-update').style.display='none'">Annuler</button>
        </div>
    </form>
{%  endblock %}