{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <form id="modal-add" class="modal-content" action="#" method="post">
        <!-- Titre et croix -->
        <div class="modal-header justify-content-center">
            <h5 class="modal-title">{{ titre }}</h5>
        </div>
        {# @var ranking \TTTheux\Models\Ranking #}
        <!-- Image, inputs et boutons -->
        <div class="modal-body">
            <div class="form-group">
                <label for="name"><b>Classement</b></label>
                <input type="text" placeholder="Classement" name="ranking" value="{{ ranking.ranking }}" required>
                <p class="text-danger">{{ errors["ranking"] }}</p>
            </div>

            <button class="btn btn-primary" type="submit" name="submit">Valider</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <button class="btn btn-outline-danger btn-sm" type="button" onclick="document.getElementById('modal-update').style.display='none'">Annuler</button>
        </div>
    </form>
{%  endblock %}