{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">N° ordre</th>
            <th scope="col">Index</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            {#<th scope="col">Club</th>#}
            <th scope="col">Numéro de licence</th>
            <th scope="col">Classement</th>
        </tr>
        {# @var player \TTTheux\Models\Player #}
        <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
            <td>
                <div class="btn-group" role="group">
                    <form action="{{ path("player", "update", {id: player.id}) }}" method="post">
                        <input type="image" src="img/icons8-edit-50.png" style="width:15px;height:15px;margin-right:10px;" alt="update">
                    </form>
                    <form action="{{ path("player", "delete", {id: player.id}) }}" method="post">
                        <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                    </form>
                </div>
            </td>
            <td>{{ player.Position }}</td>
            <td>{{ player.RankingIndex }}</td>
            {#<td>{{ player.lastname }}</td>#}
            <td>{{ player.LastName }}</td>
            {#<td>{{ player.firstname }}</td>#}
            <td>{{ player.FirstName }}</td>
            {#<td>{{ player.getClub() }}</td>#}
            {#<td>Theux</td>#}
            {#<td><a href="{{ path("player", "details", {"id": player.id}) }}">{{ player.id }}</a></td>#}
            <td><a href="{{ path("player", "detailsFromDBPing", {"id": player.UniqueIndex}) }}">{{ player.UniqueIndex }}</a></td>
            {#<td>{{ player.getRanking() }}</td>#}
            <td>{{ player.Ranking }}</td>
        </tr>
    </table>
{%  endblock %}