{%  extends "baseLayout.html.twig" %}

{% block contents %}
    <div id="loggedbuttons" class="d-flex align-items-center">
        <div class="btn-group-horizontal">
            <a href="{{ path("ranking", "add", {}) }}"><button type="button" class="btn btn-secondary">Ajouter un classement</button></a>
        </div>
    </div>
    <table class="table table-hover">
        <tr class="table-primary">
            <th></th>
            <th scope="col">Classement</th>
        </tr>
        {# @var ranking \TTTheux\Models\Ranking #}
        {% for ranking in rankings %}
            <tr class='{{ cycle(['table-secondary', 'table-dark'], loop.index0) }}'>
                <td>
                    <div class="btn-group" role="group">
                        <form action="{{ path("ranking", "delete", {id: ranking.id}) }}" method="post">
                            <input type="image" src="img/icons8-trash-can-50.png" style="width:15px;height:15px;" alt="delete">
                        </form>
                    </div>
                </td>
                <td>{{ ranking.ranking }}</td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}