<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {%  block title %}{% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    {#<link rel="stylesheet" href="web/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/test.css">
    {#<link rel="stylesheet" href="web/css/test.css">#}

</head>
<body>
{% for divisionName, division in top6Results %}
    <table id="{{ divisionName }}" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th colspan="27">{{ divisionName }}</th>
        </tr>
        <tr>
            <th>Position</th>
            <th>Joueur</th>
            <th>Club</th>
            <th>Classement</th>
            {% for i in 1..22 %}
                <th>{{ i }}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        </thead>
        {% set previousIndex = -1 %}
        {% set previousTotal = -1 %}
        {% for player, results in division %}
            <tr{{ (results.Club == club) ? ' class="table-success"' : '' }}>
                {% if results.Total == previousTotal %}
                    <td{{ (previousIndex < 7) ? ' class="font-weight-bold"' : '' }}>{{ previousIndex }}</td>
                {% else %}
                    <td{{ (loop.index < 7) ? ' class="font-weight-bold"' : '' }}>{{ loop.index }}</td>
                    {% set previousIndex = loop.index %}
                {% endif %}
                {% set isTOP6 = (previousIndex < 7) ? ' class="font-weight-bold"' : '' %}
                <td{{ (previousIndex < 7) ? ' class="font-weight-bold"' : '' }}>{{ player }}</td>
                <td{{ (previousIndex < 7) ? ' class="font-weight-bold"' : '' }}>{{ results.Club }}</td>
                <td{{ (previousIndex < 7) ? ' class="font-weight-bold"' : '' }}>{{ results.Ranking }}</td>
                {#{% set count = 1 %}#}
                {% for week, result in results %}
                    {% if week not in ['Club', 'Ranking', 'TOP6', 'National', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'Total'] %}
                        <td class="{{ result.class }} {{ (previousIndex < 7) ? ' font-weight-bold' : '' }}">{{ result.points }}</td>
                    {% endif %}
                {% endfor %}
                <td{{ (previousIndex < 7) ? ' class="font-weight-bold"' : '' }}>{{ results.Total }}</td>
                {% set previousTotal = results.Total %}
            </tr>
        {% endfor %}
    </table>
{% endfor %}

<script src="js/test.js"></script>
</body>
</html>