h1, h5 {
    text-align: center;
}
.container {
    width: 100%;
}
.tags-input {
    width: auto;
}
.headerbuttons {
    padding: 0 15px 15px 15px;
    text-align: right;
}
#loggedbuttons {
    justify-content: space-between;
}
.hidden {
    display: none;
}

/* Champs d'identifiant de largeur 100% */
.modal-body input[type=text], .modal-body input[type=date], .modal-body input[type=password], .modal-body submit, .modal-body select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#artists-container .selection {
    height: 150px;
}
/* Style des boutons submit */
.modal-body [type="submit"] {
    margin: 0px 0 15px 0;
    width: 100%;
}

/* Au survol des boutons, effet transparent */
.modal-container button:hover {
    opacity: 0.8;
}

/* Bouton Annuler plus petit et rouge */
.modal-footer .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.modal-body .imgcontainer {
    text-align: center;
    margin-bottom: 12px;
}
.modal-header {
    margin-top: 24px;
    position: relative;
}

img.avatar {
    max-width: 30%; /* Empêche une taille trop grande */
    border-radius: 50%; /* Portrait rond */
}

.modal-container {
    padding: 16px;
}


/* La fenêtre modale complète */
.modal {
    display: none; /* Caché par défaut */
    position: fixed; /* Reste sur place */
    z-index: 2; /* Par dessus la page */
    left: 0;
    top: 0;
    width: 100%; /* Largeur pleine */
    height: 100%; /* Hauteur pleine */
    overflow: auto; /* Active le défilement si besoin */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Arrière de la fenêtre */
    padding-top: 60px;
}

/* Le contenu modal visible */
.modal-content {
    margin: 0% auto 0% auto; /* centré horizontalement */
    border: 1px solid #888;
    width: 80%; /* Largeur du contenu */
}

/* Le bouton Fermer (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
 */
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}













#test div {
    border: 1px solid black;
    border-collapse: collapse;
}